body {
     font-family: "Overpass", sans-serif;
     font-size: 16px;
    }

.topthird {
     background: url("./images/bg-pattern-intro.svg");
     background-size: contain;
     background-color: #FFADB3;
     color: white
}



.navDiv {
     display: flex;
     height: 50px;
     width: 100%;
     justify-content: space-between;
     
}

.navDiv H3 {
     margin-left: 10px
}

.buttonDiv {
   display: flex;
   justify-content: right
}

select {
     border: none;
     background-color: #FFADB3;
     color: white;
}

.login {
     height: 50px;
     padding: 15px 35px 15px 35px;
     font-size: 15px;
     border-radius: 25px;
     font-weight: bolder;
     cursor: pointer;
     background-color:#FFADB3;
     display: flex;
     justify-content: center;
}

.login:hover {
     color: #FFADB3;
     background-color: white
}

.signup {
     height: 50px;
     padding: 15px 35px 15px 35px;
     font-size: 15px;
     background-color: white;
     border-color: white;
     color: #FFADB3;
     cursor: pointer;
     font-weight: bolder;
     display: flex;
     justify-content: center;
     border-radius: 25px;
     text-align: center;
     margin: auto;


}

.signup:hover {
     color: white;
     background-color: #FFADB3
}

.publishingDiv {
     display: flex;
     flex-direction: column;
     align-items: center;

}

.start {
          height: 50px;
          padding: 15px 35px 15px 35px;
          font-size: 15px;
          background-color: white;
          border-color: white;
          color: #FFADB3;
          cursor: pointer;
          font-weight: bolder;
          display: flex;
          justify-content: center;
          border-radius: 25px;
          text-align: center;
          margin: auto;
     
     
     }

     .start:hover {
          color: white;
          background-color: #FFADB3
     }

     .learnMore {
          height: 50px;
          padding: 15px 35px 15px 35px;
          font-size: 15px;
          border-radius: 25px;
          font-weight: bolder;
          cursor: pointer;
          background-color:#FFADB3;
          display: flex;
          justify-content: center;
     }
     
     .learnMore:hover {
          color: #FFADB3;
          background-color: white
     }


.pubButt {
     display: flex;
     justify-content: right
  }